html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

ul li {
  display: inline-block;
  padding-right: 1em; }

.logo ul:first-child {
  width: 25%;
  padding: 1em; }

.logo ul:nth-child(2) {
  float: right;
  position: relative;
  left: -3em;
  top: -4em;
  padding: 2em;
  z-index: 1; }

.logo h3 {
  float: right;
  position: relative;
  top: -10px;
  left: 1.4em;
  font-size: 4em;
  font-weight: bold; }

span {
  color: lightblue; }

.nav-items {
  background-color: #00456e;
  color: white; }

.nav-items ul {
  text-align: center;
  width: 90%;
  margin: auto; }

.nav-items li:last-child {
  background-color: black;
  padding: 0.8em; }

body {
  width: 100%;
  background: lightgrey; }

.wrapper {
  max-width: 120em;
  margin-left: auto;
  margin-right: auto;
  background: white;
  border: 2px solid orange;
  max-width: 100%;
  height: 242.75em; }
  .wrapper::after {
    clear: both;
    content: "";
    display: block; }
  .wrapper::after {
    clear: both;
    content: "";
    display: block; }

@media screen and (min-width: 740px) and (max-width: 1139px) {
  .outer-first-row, .outer-second-row {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    border: 2px solid lightblue;
    width: 95%;
    height: 20em;
    margin: 2.5% 2.5% 0 2.5%;
    display: inline-block; }
    .outer-first-row:last-child, .outer-second-row:last-child {
      margin-right: 0; }

  .outer-first-row .one {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
    border: 2px solid lightblue;
    height: 20em; }
    .outer-first-row .one:last-child {
      margin-right: 0; }
    .outer-first-row .one .top-row {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      height: 13em;
      border: 2px solid black; }
      .outer-first-row .one .top-row:last-child {
        margin-right: 0; }
      .outer-first-row .one .top-row .left {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%;
        border: 2px dotted darkgrey;
        height: 13em;
        margin: 0 0 0 1%;
        padding: 0; }
        .outer-first-row .one .top-row .left:last-child {
          margin-right: 0; }
      .outer-first-row .one .top-row .right {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%;
        border: 2px solid darkgrey;
        height: 12em;
        margin: 0;
        padding: 0;
        max-width: 100%;
        height: auto; }
        .outer-first-row .one .top-row .right:last-child {
          margin-right: 0; }
    .outer-first-row .one .bottom-row {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      height: 7em;
      border: 2px solid black; }
      .outer-first-row .one .bottom-row:last-child {
        margin-right: 0; }
      .outer-first-row .one .bottom-row .left, .outer-first-row .one .bottom-row .middle, .outer-first-row .one .bottom-row .right {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%;
        height: 7em;
        border: 2px solid lightblue; }
        .outer-first-row .one .bottom-row .left:last-child, .outer-first-row .one .bottom-row .middle:last-child, .outer-first-row .one .bottom-row .right:last-child {
          margin-right: 0; }
  .outer-first-row .two {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    border: 2px solid darkgrey;
    height: 20em; }
    .outer-first-row .two:last-child {
      margin-right: 0; }
    .outer-first-row .two .top {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      border: 2px solid darkgrey;
      height: 7em;
      margin-bottom: 1em; }
      .outer-first-row .two .top:last-child {
        margin-right: 0; }
      .outer-first-row .two .top img {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        height: 7em; }
        .outer-first-row .two .top img:last-child {
          margin-right: 0; }
    .outer-first-row .two .middle {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      border: 2px solid darkgrey;
      height: 5em;
      margin-bottom: 1em; }
      .outer-first-row .two .middle:last-child {
        margin-right: 0; }
      .outer-first-row .two .middle h5 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        height: 5em; }
        .outer-first-row .two .middle h5:last-child {
          margin-right: 0; }
    .outer-first-row .two .bottom {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      border: 2px solid darkgrey;
      height: 5em; }
      .outer-first-row .two .bottom:last-child {
        margin-right: 0; }
      .outer-first-row .two .bottom p {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        height: 5em; }
        .outer-first-row .two .bottom p:last-child {
          margin-right: 0; }

  .outer-second-row .one {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    height: 20em;
    float: left;
    margin: 0;
    height: 6em; }
    .outer-second-row .one:last-child {
      margin-right: 0; }
    .outer-second-row .one .top-row, .outer-second-row .one .bottom-row {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      padding: 0;
      border: 2px solid darkgrey; }
      .outer-second-row .one .top-row:last-child, .outer-second-row .one .bottom-row:last-child {
        margin-right: 0; }
      .outer-second-row .one .top-row .left, .outer-second-row .one .top-row .right, .outer-second-row .one .bottom-row .left, .outer-second-row .one .bottom-row .right {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        border: 2px solid darkgrey;
        height: 11em; }
        .outer-second-row .one .top-row .left:last-child, .outer-second-row .one .top-row .right:last-child, .outer-second-row .one .bottom-row .left:last-child, .outer-second-row .one .bottom-row .right:last-child {
          margin-right: 0; }
        .outer-second-row .one .top-row .left img, .outer-second-row .one .top-row .right img, .outer-second-row .one .bottom-row .left img, .outer-second-row .one .bottom-row .right img {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%; }
          .outer-second-row .one .top-row .left img:last-child, .outer-second-row .one .top-row .right img:last-child, .outer-second-row .one .bottom-row .left img:last-child, .outer-second-row .one .bottom-row .right img:last-child {
            margin-right: 0; }
      .outer-second-row .one .top-row .left, .outer-second-row .one .bottom-row .left {
        margin-right: 1%; }
    .outer-second-row .one .top-row .left, .outer-second-row .one .top-row .right {
      height: 8em; }
  .outer-second-row .two {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    border: 2px solid lightblue;
    height: 20em;
    float: right;
    margin: 0; }
    .outer-second-row .two:last-child {
      margin-right: 0; }
    .outer-second-row .two .inner-third-column {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      height: 20em;
      border: 2px solid lightblue; }
      .outer-second-row .two .inner-third-column:last-child {
        margin-right: 0; }
      .outer-second-row .two .inner-third-column .cardlet {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        height: 6.5em;
        margin: 0 0 2% 0;
        padding: 0;
        border: 2px solid lightblue; }
        .outer-second-row .two .inner-third-column .cardlet:last-child {
          margin-right: 0; }
    .outer-second-row .two .inner-fourth-column {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      height: 20em;
      border: 2px solid lightblue; }
      .outer-second-row .two .inner-fourth-column:last-child {
        margin-right: 0; }
      .outer-second-row .two .inner-fourth-column .cardlet {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        height: 6.5em;
        margin: 0 0 2% 0;
        padding: 0;
        border: 2px solid lightblue; }
        .outer-second-row .two .inner-fourth-column .cardlet:last-child {
          margin-right: 0; } }
@media screen and (min-width: 1140px) {
  .wrapper {
    width: 90%; }
    .wrapper .sidebar {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 14.70196%;
      border: 3px solid purple;
      height: 41em;
      margin: 0 0 0 1.2%;
      padding: 0; }
      .wrapper .sidebar:last-child {
        margin-right: 0; }
    .wrapper .news {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      height: 41em;
      margin: 0;
      padding: 0; }
      .wrapper .news:last-child {
        margin-right: 0; }
      .wrapper .news .outer-first-row, .wrapper .news .outer-second-row {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        border: 2px solid lightblue;
        width: 95%;
        height: 20em;
        margin: 1% 1% 0 1%;
        display: inline-block; }
        .wrapper .news .outer-first-row:last-child, .wrapper .news .outer-second-row:last-child {
          margin-right: 0; }
      .wrapper .news .outer-first-row .one {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 74.41059%;
        border: 3px dotted orange;
        height: 20em; }
        .wrapper .news .outer-first-row .one:last-child {
          margin-right: 0; }
        .wrapper .news .outer-first-row .one .top-row {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%;
          height: 16em;
          border: 2px solid black; }
          .wrapper .news .outer-first-row .one .top-row:last-child {
            margin-right: 0; }
          .wrapper .news .outer-first-row .one .top-row .left {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 31.76157%;
            border: 2px dotted darkgrey;
            height: 16em;
            margin: 0 0 0 1%;
            padding: 0; }
            .wrapper .news .outer-first-row .one .top-row .left:last-child {
              margin-right: 0; }
            .wrapper .news .outer-first-row .one .top-row .left h4 {
              float: left;
              display: block;
              margin-right: 2.35765%;
              width: 100%;
              height: 7em;
              font-size: 20px;
              font-weight: bold; }
              .wrapper .news .outer-first-row .one .top-row .left h4:last-child {
                margin-right: 0; }
              .wrapper .news .outer-first-row .one .top-row .left h4 span {
                color: darkblue; }
            .wrapper .news .outer-first-row .one .top-row .left p {
              color: darkgrey; }
          .wrapper .news .outer-first-row .one .top-row .right {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 65.88078%;
            border: 2px solid darkgrey;
            height: 16em;
            margin: 0;
            padding: 0; }
            .wrapper .news .outer-first-row .one .top-row .right:last-child {
              margin-right: 0; }
            .wrapper .news .outer-first-row .one .top-row .right img {
              float: left;
              display: block;
              margin-right: 2.35765%;
              width: 100%;
              height: 16em; }
              .wrapper .news .outer-first-row .one .top-row .right img:last-child {
                margin-right: 0; }
        .wrapper .news .outer-first-row .one .bottom-row {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%;
          height: 4em;
          border: 2px solid black; }
          .wrapper .news .outer-first-row .one .bottom-row:last-child {
            margin-right: 0; }
          .wrapper .news .outer-first-row .one .bottom-row .left, .wrapper .news .outer-first-row .one .bottom-row .middle, .wrapper .news .outer-first-row .one .bottom-row .right {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 31.76157%;
            height: 7em;
            border: 2px solid lightblue;
            height: 4em; }
            .wrapper .news .outer-first-row .one .bottom-row .left:last-child, .wrapper .news .outer-first-row .one .bottom-row .middle:last-child, .wrapper .news .outer-first-row .one .bottom-row .right:last-child {
              margin-right: 0; }
      .wrapper .news .outer-first-row .two {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%;
        border: 2px solid darkgrey;
        height: 20em; }
        .wrapper .news .outer-first-row .two:last-child {
          margin-right: 0; }
        .wrapper .news .outer-first-row .two .top, .wrapper .news .outer-first-row .two .middle, .wrapper .news .outer-first-row .two .bottom {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%;
          border: 2px solid darkgrey;
          height: 6em;
          margin-bottom: 1em; }
          .wrapper .news .outer-first-row .two .top:last-child, .wrapper .news .outer-first-row .two .middle:last-child, .wrapper .news .outer-first-row .two .bottom:last-child {
            margin-right: 0; }
        .wrapper .news .outer-first-row .two .top img, .wrapper .news .outer-first-row .two .middle h5, .wrapper .news .outer-first-row .two .bottom p {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%; }
          .wrapper .news .outer-first-row .two .top img:last-child, .wrapper .news .outer-first-row .two .middle h5:last-child, .wrapper .news .outer-first-row .two .bottom p:last-child {
            margin-right: 0; }
        .wrapper .news .outer-first-row .two .top img {
          height: 7em; }
        .wrapper .news .outer-first-row .two .middle h5, .wrapper .news .outer-first-row .two .bottom p {
          height: 5em; }
      .wrapper .news .outer-second-row .one {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        height: 20em;
        float: left;
        margin: 0; }
        .wrapper .news .outer-second-row .one:last-child {
          margin-right: 0; }
        .wrapper .news .outer-second-row .one .top-row, .wrapper .news .outer-second-row .one .bottom-row {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%;
          padding: 0;
          border: 2px solid darkgrey; }
          .wrapper .news .outer-second-row .one .top-row:last-child, .wrapper .news .outer-second-row .one .bottom-row:last-child {
            margin-right: 0; }
          .wrapper .news .outer-second-row .one .top-row .left, .wrapper .news .outer-second-row .one .top-row .right, .wrapper .news .outer-second-row .one .bottom-row .left, .wrapper .news .outer-second-row .one .bottom-row .right {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 48.82117%;
            border: 2px solid darkgrey;
            height: 12em; }
            .wrapper .news .outer-second-row .one .top-row .left:last-child, .wrapper .news .outer-second-row .one .top-row .right:last-child, .wrapper .news .outer-second-row .one .bottom-row .left:last-child, .wrapper .news .outer-second-row .one .bottom-row .right:last-child {
              margin-right: 0; }
            .wrapper .news .outer-second-row .one .top-row .left img, .wrapper .news .outer-second-row .one .top-row .right img, .wrapper .news .outer-second-row .one .bottom-row .left img, .wrapper .news .outer-second-row .one .bottom-row .right img {
              float: left;
              display: block;
              margin-right: 2.35765%;
              width: 100%; }
              .wrapper .news .outer-second-row .one .top-row .left img:last-child, .wrapper .news .outer-second-row .one .top-row .right img:last-child, .wrapper .news .outer-second-row .one .bottom-row .left img:last-child, .wrapper .news .outer-second-row .one .bottom-row .right img:last-child {
                margin-right: 0; }
          .wrapper .news .outer-second-row .one .top-row .left, .wrapper .news .outer-second-row .one .bottom-row .left {
            margin-right: 1%; }
        .wrapper .news .outer-second-row .one .top-row .left, .wrapper .news .outer-second-row .one .top-row .right {
          height: 7em; }
      .wrapper .news .outer-second-row .two {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        border: 2px solid darkgrey;
        height: 20em;
        float: right;
        margin: 0; }
        .wrapper .news .outer-second-row .two:last-child {
          margin-right: 0; }
        .wrapper .news .outer-second-row .two .inner-third-column {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 48.82117%;
          height: 20em;
          border: 2px solid lightblue;
          margin: 0 0 1% 0; }
          .wrapper .news .outer-second-row .two .inner-third-column:last-child {
            margin-right: 0; }
          .wrapper .news .outer-second-row .two .inner-third-column .cardlet {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 100%;
            height: 6.5em;
            margin: 0 0 2% 0;
            padding: 0;
            border: 2px solid lightblue; }
            .wrapper .news .outer-second-row .two .inner-third-column .cardlet:last-child {
              margin-right: 0; }
          .wrapper .news .outer-second-row .two .inner-third-column .one, .wrapper .news .outer-second-row .two .inner-third-column .two, .wrapper .news .outer-second-row .two .inner-third-column .three {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 100%;
            height: 6.5em; }
            .wrapper .news .outer-second-row .two .inner-third-column .one:last-child, .wrapper .news .outer-second-row .two .inner-third-column .two:last-child, .wrapper .news .outer-second-row .two .inner-third-column .three:last-child {
              margin-right: 0; }
            .wrapper .news .outer-second-row .two .inner-third-column .one p, .wrapper .news .outer-second-row .two .inner-third-column .two p, .wrapper .news .outer-second-row .two .inner-third-column .three p {
              float: left;
              display: block;
              margin-right: 2.35765%;
              width: 100%;
              height: 6.5em; }
              .wrapper .news .outer-second-row .two .inner-third-column .one p:last-child, .wrapper .news .outer-second-row .two .inner-third-column .two p:last-child, .wrapper .news .outer-second-row .two .inner-third-column .three p:last-child {
                margin-right: 0; }
        .wrapper .news .outer-second-row .two .inner-fourth-column {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 48.82117%;
          height: 20em; }
          .wrapper .news .outer-second-row .two .inner-fourth-column:last-child {
            margin-right: 0; }
          .wrapper .news .outer-second-row .two .inner-fourth-column .cardlet {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 100%;
            height: 6.5em;
            margin: 0 0 1% 0;
            padding: 0;
            border: 2px solid darkgrey; }
            .wrapper .news .outer-second-row .two .inner-fourth-column .cardlet:last-child {
              margin-right: 0; }
            .wrapper .news .outer-second-row .two .inner-fourth-column .cardlet .one, .wrapper .news .outer-second-row .two .inner-fourth-column .cardlet .two, .wrapper .news .outer-second-row .two .inner-fourth-column .cardlet .three {
              float: left;
              display: block;
              margin-right: 2.35765%;
              width: 100%;
              height: 6.5em; }
              .wrapper .news .outer-second-row .two .inner-fourth-column .cardlet .one:last-child, .wrapper .news .outer-second-row .two .inner-fourth-column .cardlet .two:last-child, .wrapper .news .outer-second-row .two .inner-fourth-column .cardlet .three:last-child {
                margin-right: 0; }
              .wrapper .news .outer-second-row .two .inner-fourth-column .cardlet .one p, .wrapper .news .outer-second-row .two .inner-fourth-column .cardlet .two p, .wrapper .news .outer-second-row .two .inner-fourth-column .cardlet .three p {
                float: left;
                display: block;
                margin-right: 2.35765%;
                width: 48.82117%;
                height: 6.5em; }
                .wrapper .news .outer-second-row .two .inner-fourth-column .cardlet .one p:last-child, .wrapper .news .outer-second-row .two .inner-fourth-column .cardlet .two p:last-child, .wrapper .news .outer-second-row .two .inner-fourth-column .cardlet .three p:last-child {
                  margin-right: 0; } }
ul {
  list-style-type: none; }

header {
  width: 100%;
  height: 7em;
  background-color: #005689;
  color: white; }
  header::after {
    clear: both;
    content: "";
    display: block; }

/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*# sourceMappingURL=main.css.map */
