body
  width: 100%
  background: lightgrey

.wrapper
  @include outer-container(120em)
  background: white
  +clearfix
  border: 2px solid orange
  max-width: 100%
  height: 242.75em

// @media screen and (max-width: 739px)
.card
  @media screen and (max-width: 739px)
    // @include outer-container
    @include span-columns(12 of 12)
    width: 95%
    height: 20em
    background: lightyellow
    border: 2px solid lightblue
    margin: 2.5% 2.5% 0 2.5%


@media screen and (min-width: 740px) and (max-width: 1139px)
  .outer-first-row, .outer-second-row
    @include span-columns(12)
    border: 2px solid lightblue
    width: 95%
    height: 20em
    margin: 2.5% 2.5% 0 2.5%
    +inline-block
  .outer-first-row
    .one
      @include span-columns(9 of 12)
      background-color: lightpink
      opacity: 0.5
      height: 20em
    .two
      @include span-columns(3 of 12)
      background-color: lightgreen
      opacity: 0.5
      height: 20em
  .outer-second-row
    .one
      @include span-columns(6 of 12)
      background-color: lightpink
      opacity: 0.5
      height: 20em
      float: left
      margin: 0
      .one, .two
        @include span-columns(6 of 12)
        background: firebrick
        // opacity: 0.5
        height: 20em
      .one
        margin-right: 2%
    .two
      @include span-columns(6 of 12)
      background-color: lightgreen
      opacity: 0.5
      height: 20em
      float: right
      margin: 0
      .inner-third-column
        @include span-columns(6 of 12)
        height: 20em
        background: blue
        .cardlet
          @include span-columns(12 of 12)
          height: 6.5em
          margin: 0 0 2% 0
          padding: 0
          background: silver
      .inner-fourth-column
        @include span-columns(6 of 12)
        height: 20em
        .cardlet
          @include span-columns(12 of 12)
          height: 6.5em
          margin: 0 0 2% 0
          padding: 0
          background: silver
