@mixin card1BottomCardlets
  @include span-columns(4 of 12)
  height: 7em


@mixin innerColumns
  @include span-columns(6 of 12)
  height: 20em
  .cardlet
    @include span-columns(12 of 12)
    height: 6.5em
    margin: 0 0 2% 0
    padding: 0

@mixin card2Cardlets
  @include span-columns(12 of 12)
  height: 6em
  margin-bottom: 1em

// @mixin button
//   +button(pill, white)
//   border: 1px solid #4bc6df
  background-color: white
//   height: 2em
//   width: 8em
//   color: #005689
